.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1209px;
    padding: 10px;
    margin: 0 auto;

    .text {
      max-width: 681px;
      margin-top: -100px;
      .title {
        font-size: 2rem;
        margin-bottom: 157px;
        text-align: left;
      }
      p {
        font-size: 24px;
        max-width: 681px;
      }
    }
    img {
      max-width: 528px;
    }
  }
}

@media (max-width: 630px) {
  .wrapper {
    .about {
      flex-wrap: wrap;
      img {
        width: 100%;
      }
    }
  }
}
