.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;

  .about {
    max-width: 445px;
    width: 90%;

    .title {
      font-size: 32px;
      line-height: 38px;
      width: 100%;
      margin-bottom: 70px;
    }
    .list {
      width: 100%;

      font-size: 24px;
      line-height: 28px;
    }
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-dark;
    box-shadow: 0px 4px 0px 4px rgba($color: #565555, $alpha: 1);
    border-radius: 6px;
    max-width: 619px;
    width: 90%;

    padding: 24px;

    h2 {
      width: 197px;
      height: 38px;
      font-size: 32px;
      line-height: 38px;
    }

    .textImg {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      align-items: center;

      p {
        width: 285px;
        font-size: 22px;
        line-height: 26px;
      }

      img {
        width: 50%;
      }
    }

    .btn {
      width: 100%;
      background-color: $red;
      border: none;
      padding: 5px 70px;
      border-radius: 20px;
      font-size: 24px;
      line-height: 28px;
      color: $gray-light;
      margin-top: 53px;
      margin-left: auto;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .card {
      .textImg {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1164px) {
  .wrapper {
    .about {
      .title {
        padding: 2rem 0rem;
      }
    }
  }
}
