.wrapper {
  label {
    display: block;
    color: $white;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  input {
    background-color: $white;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid transparent;
    width: 100%;
    margin-bottom: 18px;

    &:invalid {
      border-color: $red;
    }
  }
}
