.challenge {
  width: 100%;
  padding: 20px;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
  .text {
    ul {
      margin: 69px 0 0 25px;

      li {
        list-style: disc;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
      }
    }

    h1 {
      font-weight: 450;
    }
  }

  .card {
    max-width: 619px;
    max-height: 418px;
    background-color: $gray-dark;
    background: #303030;
    box-shadow: 0px 4px 0px 4px rgba(253, 249, 249, 0.25);
    border-radius: 6px;
    margin-top: 50px;
    a {
      max-width: 287px;
      max-height: 28px;
      background-color: $red;
      padding: 20px 70px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;

      span {
        font-size: 24px;
        font-family: 'Roboto';
        font-weight: 400;
      }

      &:hover {
        transition: 0.5s;
        background-color: #ff7539;
      }
    }

    h1 {
      margin: 20px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
    }

    .container {
      display: flex;
      flex-direction: row;
      margin-bottom: 58px;
      align-items: center;
      justify-content: center;
      img {
        max-width: 295px;
        max-height: 221px;
      }

      h2 {
        font-weight: 300;
        max-width: 285px;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .challenge {
    .card {
      max-width: 335px;
      max-height: 600px;

      .container {
        flex-wrap: wrap;
      }
    }
  }
}
