.wrapper {
  flex: 1;
}

.cardsBlogContainer {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 11px;
  width: 100%;
}

.cardsBlogContainer::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: -1;
}

.apiContainer {
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
    border-bottom: 3px solid #ff3d00;
    margin-top: 30px;
    margin-bottom: 34px;
    text-align: center;
    width: min-content;
    white-space: nowrap;
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardsNewsContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .jobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardsJobsContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .topViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardsTopViews {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.formHomePage {
  background-color: white;
  color: black;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  h2 {
    text-align: left;
    max-width: 290px;
  }

  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    fieldset {
      border: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px 0;

      label {
        font-weight: bold;
      }

      input {
        background: none;
        border: none;
        width: 411px;
        border-bottom: 1px solid #000000;
        padding-bottom: 10px;
        margin-top: 10px;
        outline: none;
      }

      input:hover {
        transition: 0.3s;
        border-color: #ff3d00;
      }
    }

    button {
      background-color: #ff3d00;
      border: none;
      color: white;
      font-weight: bold;
      padding: 5px 15px;
      border-radius: 20px;
      margin-left: 54%;
      margin-top: 4px;
    }
  }
}
@media (max-width: 480px) {
  .formHomePage {
    form {
      max-width: 50%;
      justify-content: flex-start;
      fieldset {
        margin-left: -70px;

        input {
          width: 250px;
        }
      }
    }
  }
}
