header {
  background-color: $gray-dark;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;

    input {
      flex: 1;
      background: none;
      border: none;
      border-bottom: 1px solid $red;
      padding-left: 30px;
      padding-bottom: 10px;
      color: $white;
      &:focus {
        outline: none;
      }
    }

    .search {
      display: flex;
      align-items: center;
    }

    .iconSearch {
      color: $red;
    }
  }
  .navlinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      max-height: 70px;
    }
    a:hover {
      border-bottom: 1px solid $red;
    }
    img {
      max-width: 70px;
      margin-right: 24px;
      display: flex;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      align-items: center;
    }

    .navlinks {
      display: flex;
    }
  }

  .NavBar {
    .MobileNavigation {
      display: none;
    }
  }
}

@media (max-width: 812px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .container {
      display: flex;
      gap: 2px;
      justify-content: space-between;

      img {
        display: flex;
        order: 1;
      }

      .MobileNavigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .hamburger {
        display: block;
        left: 0;
        color: $white;
        background: none;
        border: none;
        padding: 3px 2px 2px 2px;
        border-radius: 5px;
        cursor: pointer;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
      }

      li {
        border-bottom: 1px solid $red;
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;
      }
      li:last-child {
        border-bottom: none;
      }

      input {
        flex: 1;
      }

      .iconSearch {
        color: $red;
        margin-right: -25px;
        bottom: 10px;
        display: flex;
        width: 20px;
      }
    }

    .NavBar {
      order: -1;
      .Navigation {
        display: none;
      }
      .MobileNavigation {
        display: flex;
        align-items: center;
      }

      nav {
        ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0;
          top: 100%;
          padding: 1rem 0rem;
          background-color: $gray-dark;

          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .search {
        padding: 10px;

        right: 20%;
        top: 2%;
        width: 70px;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    padding: 0 20px;
    .container {
      display: flex;
      flex-wrap: wrap;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
      }
      input {
        width: 122px;
        flex: 1;
      }

      .iconSearch {
        color: $red;
        margin-right: -25px;
        bottom: 10px;
        display: flex;
      }

      .navlinks {
        display: flex;
        gap: 10px;
      }
      .iconSearch {
        color: $red;
      }

      .search {
        padding: 10px;
      }
    }
  }
}
