.wrapper {
  flex: 1;
  margin: 0 auto;
  width: 32.5rem;

  .title {
    margin: 3.75rem auto;
    text-align: center;
  }

  .submitBtn {
    background-color: $red;
    color: $white;
    display: block;
    width: 12.125rem;

    border: none;
    border-radius: 12px;

    padding: 12px 0;
    margin: 20px auto 0;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
