.wrapper {
  flex: 1;
  margin: 0 auto;
  width: 32.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 4rem;

  form {
    width: 100%;
  }

  .title {
    margin: 3.75rem 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .submitBtn {
    background-color: $red;
    color: $white;
    display: block;
    width: 12.125rem;

    border: none;
    border-radius: 12px;

    padding: 12px 0;
    margin: 20px auto 0;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
